body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -3px;
    max-width: 500px;
    margin-bottom: 66px;

}

.title-h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;

}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: 3px;

}

.page-stat .title-h2, .page-screen .title-h2, .page-plan .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.page-screen .title-h2, .page-plan .title-h2 {
    font-size: 40px;
    letter-spacing: -1.1px;
}

.page-screen .title-h2 span, .page-plan .title-h2 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding:0 20px;
}

.nav-item {
    color: #6e7ea9;
}


.btn-primary {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    border: 1px solid #1085e4;


}

.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
}

.btn-secondary {
    background-color: #cbdbe8;
    color: #7e8bae;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    border: 1px solid #cbdbe8;

}

.btn-secondary:hover {
    background-color: #fff;

}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 2px solid #dce1e5;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-info:hover {
    background-color: #dce1e5;
    color: #1085e4;
}

.btn-free {
    background-color: #1085e4;
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 21px 55px;

}

.btn-group a + a {
    margin-left: 17px;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;

}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;

}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 80px;

}

.list-stat>li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    letter-spacing: 0;
    font-weight: 700;
    margin-bottom: 20px;
}

.screen {
    margin-top: 70px;
    margin-bottom: -7px;
}

/* PAGE*/

.page-stat, .page-screen {
    background-color: #edf6ff;
    padding: 116px 0 96px 0;
}

.page-stat {
    padding: 116px 0 96px 0;
}

.page-screen{
    padding: 116px 0 0 0 ;
    text-align: center;
}
